html {
  font-size: 15px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#title-icon {
  position: relative;
  float: left;
  bottom: 85px;
  right: -87px;
}
.title {
  position: relative;
  right: -10px;
}
.title a {
  text-decoration: none;
  color: #15141a;
}
#favorite {
  font-size: medium;
  color: #15141a;
  text-decoration: none;
  position: relative;
  float: right;
  bottom: 50px;
  right: 20px;
}
.container {
  position: relative;
  text-align: center;
  padding: 50px;
  margin: 100px;
  color: #15141a;
  bottom: 100px;
}
#container-res {
  position: relative;
  color: #15141a;
  text-align: center;
  padding: 50px;
  padding-top: 5px;
  margin: 100px;
  background-color: #fff;
  width: 7%;
  height: 215px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  left: 37%;
}
#container-res-fav {
  position: relative;
  color: #15141a;
  text-align: center;
  padding: 50px;
  padding-top: 5px;
  margin: 100px;
  background-color: #fff;
  width: 7%;
  height: 215px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  left: 37%;
}
#refresh {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  padding: 15px;
}
#add {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}
#add-fav {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}
#refresh:hover {
  cursor: pointer;
}
#add:hover {
  cursor: pointer;
}
#add-fav:hover {
  cursor: pointer;
}
.container-res p {
  color: #15141a;
}
.container-res-fav p {
  color: #15141a;
}
.container button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #0d6efd;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
.container button:hover {
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}
#preloader_malc {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

#preloader_malc div {
  background: #fff;
  width: 260px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  font-family: arial;
  font-size: 15px;
  color: #111;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.city-list {
  list-style-type: none;
}
.btn-slider {
  position: relative;
  left: 689px;
}
#back-item {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #0d6efd;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
#next-item {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #0d6efd;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
#back-item:hover {
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}
#next-item:hover {
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}
